node_modules/
vendor/
.git/
.env
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
public/build/
public/hot
*.log
.DS_Store
Thumbs.db

